body {
  margin: 0;
  background-color: black;
}

.outer-box {
  width: 350px;
  margin: 20px 20px 40px;
  box-sizing: border-box;
}

.box {
  padding: 10px;
  border: 1px solid #e75551;
}

.blueish {
  background-color: #308dc0;
}

.yellowish {
  background-color: #ffa500;
}

.grayish {
  background-color: #ddd;
}
